server:
  port: ${APP_PORT:8080}
spring:
  application:
    name: wallet
  h2:
    console:
      enabled: true
      path: /h2-console
    datasource:
      url: jdbc:h2:mem/wallet
      username: sa
      password:
      driver-class-name: org.h2.Driver
    jpa:
      database-platform: org.hibernate.dialect.H2Dialect
      hibernate:
        ddl-auto: update
info:
  app:
    name: wallet
    description: Wallet demo spring boot
management:
  endpoints:
    web:
      exposure:
        include: '*'
      base-path: /actuator
      cors:
        allowed-origins: 'true'
    enabled-by-default: 'false'
    jmx:
      exposure:
        include: '*'
  endpoint:
    prometheus:
      enabled: 'true'
    health:
      enabled: 'true'
      show-details: always
    info:
      enabled: 'true'

